.entity-grid .count {
	font-size:var(--lumo-font-size-xs);
	font-weight:700;
	color:var(--lumo-accent-color-1);
}



/* grid with button column */

.grid-buttons {
	/* padding:0px 32px 0px 0px; */
}


.grid-buttons vaadin-button {
	/* color:var(--lumo-accent-color-4); */
}

.grid-buttons vaadin-button:hover {
	/* color:var(--lumo-contrast);  */
}

.grid-buttons vaadin-button.invisible {
	visibility:hidden;
}

.grid-buttons vaadin-button[aria-disabled=true] {
	color:var(--lumo-contrast-20pct);
} 


